<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean id="client1" class="app3XML.ClientA">
        <constructor-arg ref="service1"/>
        <property name="service" ref="service2"/>
    </bean>

    <bean id="service1" class="app3XML.ServiceB"/>

    <bean id="service2" class="app3XML.ServiceC"/>



</beans>
